# Resource Manager fields
public net.minecraft.client.resources.SimpleReloadableResourceManager field_110548_a # domainResourceManagers
public net.minecraft.client.resources.FallbackResourceManager field_110540_a # resourcePacks

# Font Renderer fields
public net.minecraft.client.gui.FontRenderer field_78285_g # textColor
public net.minecraft.client.gui.FontRenderer field_78302_t # alpha

# Item Tool fields
public net.minecraft.item.ItemTool field_77862_b # toolMaterial

# I18n
public net.minecraft.client.resources.I18n field_135054_a # i18nLocate
public net.minecraft.client.resources.I18n i18nLocate # i18nLocate
